.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 1050px) {
    flex-direction: row;
  }
}

.form {
  max-width: 540px;
  width: 100%;
  height: 100%;
  display: flex;
  margin-inline: auto;
  margin-top: 0;
  flex-direction: column;
  padding: 1rem;

  @media screen and (min-width: 1200px) {
    margin-left: 10%;
  }
}
