.tabs {
  border: 1px solid var(--chakra-colors-teal-500);
  border-radius: 0.6rem;
  width: max-content;

  .tab {
    padding-block: 0.25rem;
    padding-inline: 0.5rem;

    &:first-child {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    &:nth-child(2) {
      border-left: 1px solid var(--chakra-colors-teal-500);
      border-right: 1px solid var(--chakra-colors-teal-500);
    }

    &:nth-child(3) {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}
