.tabs {
  border: 1px solid var(--chakra-colors-teal-500);
  border-radius: 0.2rem;
  width: max-content;

  .tab {
    padding-block: 0.25rem;
    padding-inline: 0.5rem;

    &:first-child {
      border-radius: calc(0.2rem - 1px) 0 0 calc(0.2rem - 1px);
    }

    &:nth-child(2) {
      border-left: 1px solid var(--chakra-colors-teal-500);
      border-right: 1px solid var(--chakra-colors-teal-500);
    }

    &:nth-child(3) {
      border-radius: 0 calc(0.2rem - 1px) calc(0.2rem - 1px) 0;
    }
  }
}
