.container {
  padding: 1rem;
  background-color: var(--chakra-colors-gray-50);
  height: calc(100vh);
  overflow: auto;
  min-height:100vh;
}

.expandedMenu {
  padding-left: calc(max(15rem, 20%) + 1rem);

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.collapsedMenu {
  padding-left: calc(40px + 1rem);
}
