.graphContainer {
    border: 1px solid var(--chakra-colors-gray-200);
    background-color: var(--chakra-colors-white); 
    border-radius: var(--chakra-space-1);
}

.graphHeader {
    background-color: var(--chakra-colors-gray-200);
}